// Colors
$dark-gray: #293C45;
$ivy-blue: #3B97BF;
$patterns-blue: #E3F5FB;
$four-line-score-blue-1: #CEE7F6;
$four-line-score-blue-2: $patterns-blue;

$plum-purple: #533357;
$warm-purple: #83208F;
$light-purple: #F6D1FB;
$four-line-score-purple-1: #F4DEF9;
$four-line-score-purple-2: #F7E8FB;

$yellow-brown: #503f05;
$champagne: #F8EDCB;
$four-line-score-champagne-1: #F6EDCF;
$four-line-score-champagne-2: #FCF7E9;

// -- Application
$title-color: $dark-gray;
$base-color: $dark-gray;
$consonant-alphabet-color: $plum-purple;
$rhyme-alphabet-color: $dark-gray;
$syllable-alphabet-color: $yellow-brown;

// Font
$alphabet-font-family: 'Chalkboard', 'Comic Sans MS', 'Yuanti SC', sans-serif;
$english-font-family: 'Chalkboard', 'Comic Sans MS', sans-serif;
$yuanti-family: 'Yuanti SC', sans-serif;



